%box {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.green {
  @extend %box;
  background: green;
}
.blue {
  @extend %box;
  background-color: blue;
}
.red {
  @extend %box;
  background-color: red;
}
